<html lang="en">
<head>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Pomodoro Timer</title>
</head>
<body>
<div id="app">
    <div v-if="loggedIn">
        <p>Welcome, {{ user }}!</p>
        <ul>
            <li v-for="pom in completed">{{ pom.text }}</li>
        </ul>
    </div>
    <div v-else><a v-bind:href="authUrl">Please log in.</a></div>
</div>
<script>
    const params = new URLSearchParams(window.location.search);
    const app = new Vue({
        el: '#app',
        data: {
            loggedIn: !!params.get('access_token'),
            authUrl: 'https://www.beeminder.com/apps/authorize?client_id=6yb5j7c9b1fsq6q9m4tz4gcde&redirect_uri=https://pom.taskratchet.com/&response_type=token',
            user: params.get('username'),
            token: params.get('access_token'),
            completed: [
                { text: 'thing 1' },
                { text: 'thing 2' },
                { text: 'thing 3' },
            ]
        }
    })

    if (app.loggedIn) {
        console.log(app.token);
        let input = 'https://www.beeminder.com/api/v1/users/' + app.user +  '/goals.json?access_token=' + app.token;
        console.log(input);
        fetch(input)
            .then((response) => {
                return response.json();
            })
            .then((data) => {
                console.log(data);
            });
    }
</script>
</body>
</html>